.container {
   display: flex;
   min-height: 100vh;
   background: #e5e5e5;
   padding-top: 60px;
   flex-direction: column;
   align-items: center;
}

.form {
   display: flex;
   flex-direction: column;
   width: 390px;
   padding: 45px 32px;
   background: #ffffff;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
      0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
      0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
   border-radius: 6px;
}

input {
   display: block;
   width: 100%;
   padding: 10px 15px;
   margin-bottom: 12px;
   font-size: 14px;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 4px;
}

label {
   line-height: 2;
   text-align: left;
   display: block;
   color: #262626;
   font-size: 14px;
   font-weight: 200;
}

input[type="submit"] {
   background: #1890ff;
   color: #ffffff;
   border: none;
   margin-top: 40px;
   padding: 8px 136зчpx;
   font-size: 16px;
   font-weight: 100;
}

input[type="submit"]:hover {
   background: #1890ff;
   border-radius: 4px;
   cursor: pointer;
}

.errors-input {
   border: 1px solid #f5222d;
}

.checkbox {
   display: flex;
   flex-direction: row-reverse;
}
input[type="checkbox"] {
   width: auto;
   margin: 7px 11px 0px 0px;
}

.redirect {
   text-align: center;
   color: lightslategrey;
}

.redirect a {
   color: #1890ff;
}
